*{
    margin: 0;
    padding: 0;

}

.container {
background-color: grey;
vertical-align: middle;
text-align: center;
margin-left: auto;
margin-right: auto;
width: 420px;
height: 630px;
border: 1px solid #ccc;
border-radius: 35px;

}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
    margin-bottom: 5px;
    color: lightskyblue;
}

#selectTrack {
background-color: rgb(77, 171, 224);
border-radius: 6px;
border: double;
width: 300px;
height: 150px;
text-align: center;
color: rgb(189, 21, 3);
font-size: 20px;

}

img{
    width: 400px;
    height: 300px;

}

@media (max-width:)